.tab {
    -fx-background-color: #32353a;
    -fx-font: 16px "Montserrat-Bold";
    -fx-background-radius: 0;
}

.tab-label {
    -fx-text-fill: #ffffff;
}

.tab-header-background {
    -fx-background-color: #32353a;
}
.tab:focused .tab-label {
    -fx-text-fill: #ffffff
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
     -fx-focus-color: transparent;
     -fx-border-style: segments(0.166667em, 0.166667em);
     -fx-border-width: 1;
     -fx-border-color: -fx-focus-color;
}

.tab-pane {
    -fx-tab-min-width:150px;
    -fx-tab-max-width:150px;
    -fx-tab-min-height:30px;
    -fx-tab-max-height:30px;
    -fx-background-color: #32353a;
}

.tab-pane .tab:selected
{
    -fx-background-color: #1e1e1e;

}

.tab:selected .tab-label
{
    -fx-text-fill: #de3845;
    -fx-background-color: #1e1e1e;
}



@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf');
}